<h2 mat-dialog-title>帳號登入</h2>

<mat-dialog-content>
  <form [formGroup]="loginForm" (ngSubmit)="login()" >
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>帳號</mat-label>
      <input matInput formControlName="account">
      @if(account?.invalid && account?.touched){
      <mat-error>帳號為必填，至少5個字</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>密碼</mat-label>
      <input matInput type="password" formControlName="password">
      @if(password?.invalid && password?.touched){
      <mat-error>密碼至少4個字</mat-error>
      }
    </mat-form-field>
    <p class="error-message" *ngIf="invalidLogin">帳號或密碼錯誤</p>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="dialogRef.close()" [disabled]="isLoading">取消</button>

  <button mat-raised-button color="primary" [disabled]="(loginForm.invalid || isLoading)" (click)="login()">
    @if(isLoading){
    <mat-progress-spinner diameter="24" mode="indeterminate"></mat-progress-spinner>
    }

    <span *ngIf="!isLoading">登入</span>
  </button>
</mat-dialog-actions>
