.main-container {
  width: 100%;
  padding: 0;
}


.table-container {
  min-height: 70vh;
}

.mat-table-centered {
  width: 80%;
  max-width: 1200px;
}

.button-container {
  display: flex;
  justify-content: flex-start;
}
